*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(135deg, #ff938e, #ffe2c7);
    height: 100vh;
}